[submodule "pack/plugins/start/gruvbox"]
	path = pack/plugins/start/gruvbox
	url = git@github.com:morhetz/gruvbox.git
[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "pack/plugins/start/lightline"]
	path = pack/plugins/start/lightline
	url = git@github.com:itchyny/lightline.vim.git
[submodule "pack/plugins/start/rainbow"]
	path = pack/plugins/start/rainbow
	url = git@github.com:luochen1990/rainbow.git
[submodule "pack/plugins/opt/goyo"]
	path = pack/plugins/opt/goyo
	url = git@github.com:junegunn/goyo.vim.git
[submodule "pack/plugins/start/auto-pairs"]
	path = pack/plugins/start/auto-pairs
	url = git@github.com:jiangmiao/auto-pairs.git
[submodule "pack/plugins/start/vim-go"]
	path = pack/plugins/start/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "pack/plugins/start/ctrlp.vim"]
	path = pack/plugins/start/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
